img {
  transition: all 0.3s;
}

img:hover {
  transform: scale(1.1);
}

.question-text{
  transition: all 0.3s;
}

.footerStick {
  position: absolute;
  top: 0;
}

.mask {
  filter: brightness(0);
}

.unmask {
  filter: brightness(1);
}


.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/* .question-text {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
} */

/* .question-text {
  width:200px;
  height: 200px;
  background: red;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
} */