@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Orbitron:wght@600;900&display=swap');

img {
  transition: all 0.3s;
}

img:hover {
  transform: scale(1.1);
}

.question-text{
  transition: all 0.3s;
}

.footerStick {
  position: absolute;
  top: 0;
}

.mask {
  filter: brightness(0);
}

.unmask {
  filter: brightness(1);
}

.pokeText {
  font-family: 'Fredoka One', cursive;
  font-size: 70px;
  color: #FFCB05;
  text-shadow: 0 0 8px #3466AF;
}

.pokeText1 {
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  color: #7ABCC5;
  text-shadow: 0 0 1px #7ABCC5;
}

